extends ./base

block styles
  link(rel="stylesheet/less", type="text/css", href="/static/css/home.less")
  
block page-content
  #sgd-info.info-block 
    | This is a system to discover and share maps, data and documents across multiple Arizona agencies and data providers.

  #usage-blocks
    a(href="/repository/browse/")
      span#browse-block.use-block Browse the Collections
      img(src="/static/img/book.png")
    a(href="/repository/search/")
      span#search-block.use-block Manage Resources
      img(src="/static/img/document.png")
    a(href="/accounts/register/")
      span#login-block.use-block Register for an Account
      img(src="/static/img/user.png")
        
  a(href="http://search.stategeothermaldata.org")#sgd-search.info-block
    img(src="/static/img/white.png")
    #search-link-text
      p: strong Search for Arizona Data
      p
        | - Streamline workflow
      p
        | - Discover existing resources and gaps
      p
        | - SPOC system implementation
      .icon-container
        img(src="/static/img/magnify.png")
    
block sidebar-content
  #new-resources-block
    h2#new-resources-title.block-title Latest Contributions
    #new-resources-content.block-content
      ul#site-info-menu.menu
        li#site-info-about Coming Soon!